[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.1"
django-bootstrap4 = "==2.2.0"
asgiref = "==3.2.10"
beautifulsoup4 = "==4.9.1"
pytz = "==2020.1"
soupsieve = "==2.0.1"
sqlparse = "==0.3.1"
yfinance = "*"
pandas-datareader = "*"
django-pandas = "*"
seaborn = "*"
mysqlclient = "*"
fix-yahoo-finance = "==0.1.30"
django-matplotlib = "*"

[requires]
python_version = "3.8"
