{% load static %}

<!DOCTYPE html>
{% block html %}<html lang="en">{% endblock %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'trade_app/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- navigation menu -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-success p-0 d-none d-sm-flex">
            <!-- Brand/logo -->
            <a class="navbar-brand pl-4 pr-3" href="#">TradeUp <i class="fas fa-sort-amount-up"></i></a>
            <!-- Navbar Links -->
            <ul class="navbar-nav">
                {% block home %}
                <li class="nav-item">
                    <a class="nav-link active bg-secondary" href="#">Home</a>
                </li>
                {% endblock %}
                {% block portfolio %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                {% else %}
                {% endif %}
                {% endblock %}
                {% block trade %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'trade' %}">Trade</a>
                </li>
                {% else %}
                {% endif %}
                {% endblock %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% block login %}
                {% if user.is_authenticated %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
                {% endblock %}
                {% block registration %}
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link pr-4" href="#" data-toggle="dropdown"><i class="fas fa-user"></i> Welcome, {{user|title}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'pwd-change' %}">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'reset' %}">Reset</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link pr-3" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
                {% endblock %}
            </ul>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-dark bg-success p-0 d-flex d-sm-none">
            <!-- Brand/logo -->
            <a class="navbar-brand pl-4 pr-3" href="#">TradeUp <i class="fas fa-sort-amount-up"></i></a>
            <!-- Navbar Links -->
            <a class="nav-link pr-4" href="#" data-toggle="modal" data-target="#myModal"><i class="fas fa-user-circle fa-2x"></i></a>
            <div class="modal fade" id="myModal">
                {% if user.is_authenticated %}
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            <div class="d-block border-bottom p-0"><a href="{% url 'home' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Home</a></div>
                            <div class="d-block border-bottom p-0"><a href="{% url 'portfolio' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Portfolio</a></div>
                            <div class="d-block border-bottom p-0"><a href="{% url 'trade' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Trade</a></div>
                            <div class="d-block border-bottom p-0"><a href="{% url 'pwd-change' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Change Password</a></div>
                            <div class="d-block border-bottom p-0"><a href="{% url 'logout' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Logout</a></div>
                            <div class="d-block p-0"><a href="{% url 'reset' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Reset</a></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            <div class="d-block border-bottom p-0"><a href="{% url 'home' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Home</a></div>
                            <div class="d-block border-bottom p-0"><a href="{% url 'login' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Login</a></div>
                            <div class="d-block p-0"><a href="{% url 'register' %}" class="text-success d-inline-block pl-4 pt-3 pb-3 w-100">Register</a></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid position-absolute">
            {% block content %}
            <div class="row mt-5">
                <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 tables_container order-2 order-sm-1">
                    <!-- table for trending stocks -->
                    <h6>Top 5 Trending</h6>          
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th class="font-weight-light small" rowspan="2">Symbol</th>
                                <th class="font-weight-light small">Last Price</th>
                                <th class="font-weight-light small">Change</th>
                                <th class="font-weight-light small">% Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in trends %}
                            <tr>
                                <td class="font-weight-bold small text-primary t-data">{{t.symbol}}</td>
                                <td class="small t-data">{{t.regularMarketPrice|floatformat:2}}</td>
                                {% if t.regularMarketChange > 0 %}
                                <td class="small t-data text-success">{{t.regularMarketChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{t.regularMarketChange|floatformat:2}}</td>
                                {% endif %}
                                {% if t.regularMarketChangePercent > 0 %}
                                <td class="small t-data text-success">{{t.regularMarketChangePercent|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{t.regularMarketChangePercent|floatformat:2}}</td>
                                {% endif %}
                            </tr>
                            <tr class="font-weight-light small text-secondary">
                                <td colspan="4" class="symbol">{{t.shortName}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- table for most active stocks -->
                    <h6 class="mt-2">Stocks: Most Actives</h6>          
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th class="font-weight-light small" rowspan="2">Symbol</th>
                                <th class="font-weight-light small">Last Price</th>
                                <th class="font-weight-light small">Change</th>
                                <th class="font-weight-light small">% Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in actives %}
                            <tr>
                                <td class="font-weight-bold small text-primary t-data">{{a.Security.RegionAndTicker|cut:"USA:"}}</td>
                                <td class="small t-data">{{a.Quote.YesterdayPrice|floatformat:2}}</td>
                                {% if a.Quote.PriceChange > 0 %}
                                <td class="small t-data text-success">{{a.Quote.PriceChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{a.Quote.PriceChange|floatformat:2}}</td>
                                {% endif %}
                                {% if a.Quote.PercentChange > 0 %}
                                <td class="small t-data text-success">{{a.Quote.PercentChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{a.Quote.PercentChange|floatformat:2}}</td>
                                {% endif %}
                            </tr>
                            <tr class="font-weight-light small text-secondary">
                                <td colspan="4" class="symbol">{{a.Security.Name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- table for gainers stocks -->
                    <h6 class="mt-2">Stocks: Gainers</h6>          
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th class="font-weight-light small" rowspan="2">Symbol</th>
                                <th class="font-weight-light small">Last Price</th>
                                <th class="font-weight-light small">Change</th>
                                <th class="font-weight-light small">% Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for g in gainers %}
                            <tr>
                                <td class="font-weight-bold small text-primary t-data">{{g.Security.RegionAndTicker|cut:"USA:"}}</td>
                                <td class="small t-data">{{g.Quote.YesterdayPrice|floatformat:2}}</td>
                                {% if g.Quote.PriceChange > 0 %}
                                <td class="small t-data text-success">{{g.Quote.PriceChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{g.Quote.PriceChange|floatformat:2}}</td>
                                {% endif %}
                                {% if g.Quote.PercentChange > 0 %}
                                <td class="small t-data text-success">{{g.Quote.PercentChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{g.Quote.PercentChange|floatformat:2}}</td>
                                {% endif %}
                            </tr>
                            <tr class="font-weight-light small text-secondary">
                                <td colspan="4" class="symbol">{{g.Security.Name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9 order-1 order-sm-2">
                    <div class="row img-container">
                        <img src="{% static 'trade_app/images/home.jpg' %}" alt="a green arrow pointing up" class="d-block pl-3 pr-3" width="100%" height="350px">
                        <div class="img-txt">
                            <h2>Building your wealth with every trade</h2>
                            {% if user.is_authenticated %}
                            {% else %}
                            <form action="{% url 'register' %}" class="mt-5">
                                <button type="submit" class="btn btn-success p-2"> Open new account</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <h6 class="mt-4 text-success">Explore Popular Watchlists</h6>
                    <div class="row mt-4">
                        {% for p in popular %}
                        <div class="col-sm-12 col-lg pb-3 pb-lg-0">  
                            <div class="card h-100">
                                <img class="card-img-top" src="{% static 'trade_app/images/download.jpg' %}" alt="card image" width="100%">
                                <div class="card-body">
                                    <h5 class="card-title small font-weight-bold">{{p.name}}</h5>
                                    <div class="small">{{p.shortDescription}}</div><br/>
                                    <div class="card-text small">
                                        <div class="text-primary">{{p.followerCount}} followers</div>
                                        <div>{{p.symbolCount}} symbols 
                                            {% if p.dailyPercentGain > 0 %}
                                            <span class="text-success">{{p.dailyPercentGain|floatformat:2}}%</span>
                                            {% else %}
                                            <span class="text-danger">{{p.dailyPercentGain|floatformat:2}}%</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <a href="https://finance.yahoo.com/u/yahoo-finance/watchlists/{{p.slug}}" target="_blank" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/67e14e1161.js" crossorigin="anonymous"></script>
        <script src="{% static 'trade_app/app.js' %}"></script>
    </body>
</html>