{% extends 'trade_app/base.html' %}
{{ form.non_field_errors }}

{% block title%}Log In{% endblock %}
{% block home %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
{% endblock %}

{% block login %}
<li class="nav-item dropdown d-block"> 
  <a href="#" class="nav-link active bg-secondary" id="navbardrop" data-toggle="dropdown">Log In</a>
  <div class="dropdown-menu dropdown-menu-right mt-0 bg-light d-block" style="width: 300px;">
    <form action="{% url 'login' %}" id="login_form" method="POST">
      {% if form.old_password.errors or form.new_password1.errors or form.new_password2.errors %}
      <ul>
          {% if form.username.errors %}
          <li class="text-danger small">{{form.old_password.errors}}</li>
          {% endif %}
          {% if form.password.errors %}
          <li class="text-danger small">{{form.new_password1.errors}}</li>
          {% endif %}
      </ul>
      {% endif %}
      {% csrf_token %}
      <div class="fieldWrapper m-auto pt-3 pb-3" style="width: 85%;">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-success text-light"><i class="fas fa-user"></i></div>
          </div>
          {{ form.username }}
      </div>
      <div class="fieldWrapper input-group mt-3">
          <div class="input-group-prepend">
            <div class="input-group-text bg-success text-light"><i class="fas fa-key"></i></div>
          </div>
          {{ form.password }}
      </div>
      <div class="form-check mt-2">
        <label class="form-check-label">
          {{form.remember}} Remember me
        </label>
      </div>
      <button class="btn btn-success btn-block mt-4" type="submit">Login</button>
      <div class="mt-3 text-center">Don't have an account?<a href="{% url 'register' %}">Sign Up</a></div>
      <div class="text-center"><a href="#" class="forgot">Forgot your password?</a></div>
    </form>
  </div>
</li>

{% endblock %}