{% extends 'trade_app/base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block home %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
{% endblock %}

{% block portfolio %}
<li class="nav-item">
    <a class="nav-link active bg-secondary" href="{% url 'portfolio' %}">Portfolio</a>
</li>
{% endblock %}

{% block trade %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'trade' %}">Trade</a>
</li>
{% endblock %}

{% block login %}
{% endblock %}

{% block registration %}
<li class="nav-item dropdown">
    <a class="nav-link pr-4" href="#" data-toggle="dropdown"><i class="fas fa-user"></i> Welcome, {{user|title}}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'pwd-change' %}">Change Password</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'reset' %}">Reset</a>
    </div>
</li>
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-sm-5 pr-5 border-right">
        <h5 class="text-success">Positions:</h5>
        {% if positions|length == 0 %}
        <p>You have no positions. </p>
        {% else %}
        <div class="scroll-h">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr class="small">
                        <th class="fixed-t">Symbol</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Day Gain $</th> 
                        <th>Day Gain %</th>
                        <th>High</th> 
                        <th>Low</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in positions %}
                    <tr class="small">
                        <th scope="row" class="border-right fixed-t text-primary bg-light"><a href="{% url 'plot' p.0 p.1 %}">{{p.0}}</a></th>
                        <td>{{p.2}}</td>
                        <td>{{p.3|floatformat:2}}</td>
                        <td>{{p.4|floatformat:2}}</td>
                        <td>{{p.5|floatformat:2}}%</td>
                        <td>{{p.6|floatformat:2}}</td>
                        <td>{{p.7|floatformat:2}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p><strong>Total Shares: </strong>{{total}}</p>
        {% endif %}
        <h5 class="text-success mt-5">Watchlist:</h5>
        {% if watchlist|length == 0 %}
        <button class="btn btn-sm btn-success sch-watch">+ Add symbol</button>
        <div class="input-group mt-3 w-75 sch-watch-box">
            <input type="search" class="form-control sch-watch-input" name="sch" id="sch" placeholder="Enter symbol or name..." required>
            <div class="input-group-append">
                <button class="btn btn-outline-success sch-watch-btn" type="submit" id="btn_sch"><i class="fas fa-search"></i></button>
            </div>
        </div>
        {% else %}
        <div class="scroll-h">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr class="small">
                        <th class="fixed-t">Symbol</th>
                        <th>Price</th>
                        <th>Day Chg $</th>
                        <th>Day Chg %</th>
                        <th>High</th>
                        <th>Low</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for w in watchlist %}
                    <tr class="small">
                        <th scope="row" class="border-right text-primary bg-light fixed-t"><a href="{% url 'plot' w.0 w.1 %}">{{w.0}}</a></th>
                        <td>{{w.2|floatformat:2}}</td>
                        <td>{{w.3|floatformat:2}}</td>
                        <td>{{w.4|floatformat:2}}%</td>
                        <td>{{w.5|floatformat:2}}</td>
                        <td>{{w.6|floatformat:2}}</td>
                        <td><a href="{% url 'delete-stock' w.0 %}"><i class="fas fa-minus-circle text-danger"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-sm btn-success sch-watch">+ Add symbol</button>
            <div class="input-group mt-3 w-75 sch-watch-box">
                <input type="search" class="form-control sch-watch-input" name="search" id="search" placeholder="Enter symbol or name..." required>
                <div class="input-group-append">
                    <button class="btn btn-outline-success sch-watch-btn" type="submit" id="btn_search"><i class="fas fa-search"></i></button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-7 pl-5 pr-5">
        {% if not positions and not watchlist %}
        {% else %}
        <div class="row">
            {% if symbol == None %}
            {% else %}
            <div class="col-sm-10">
                <h3><span class="text-success" id="h-sym">{{symbol}}</span> - <span id="h-name">{{name}}</span></h3>
            </div>
            <div class="col-sm-2">
                <form action="{% url 'trade' %}">
                    <button type="submit" class="btn btn-success" name="trade" value="{{symbol}}">Trade</button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="row mb-4"><img src="{% static 'trade_app/images/stock-chart.png' %}" id="stockit" alt="stock chart" style="width:100%"></div>
        {% endif %}
    </div>
</div>
{% endblock %}