{% extends "trade_app/base.html" %}

{% block reset %}
{{ form.non_field_errors }}

<form action="#" method="POST">
    {% csrf_token %}
    <h4>Password Reset</h4>
    <p>Forgot your password? Please enter your username and email address below to confirm account.</p>
    <div class="fieldWrapper form-group">
        {{form.user_pwd_reset.errors}}
        <label for="{{form.user_pwd_reset.id_for_label}}">Username:</label>
        {{form.user_pwd_reset}}
    </div>
    <div class="fieldWrapper form-group">
        {{form.email_pwd_reset.errors}}
        <label for="{{form.email_pwd_reset.id_for_label}}">Email address:</label>
        {{form.email_pwd_reset}}
    </div>
    <button type="submit" class="btn btn-success mt-4">Confirm Account</button>
    <button type="submit" class="btn btn-outline-success mt-4 ml-2 pl-4 pr-4" formaction="#">Cancel</button>
</form>

{% endblock %}