{% extends 'trade_app/base.html' %}

{% block title %}Registration Confirmation{% endblock %}

{% block home %}
<li class="nav-item">
    <a class="nav-link" href="#">Home</a>
</li>
{% endblock %}

{% block portfolio %}
{% endblock %}

{% block trade %}
{% endblock %}

{% block login %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Log In</a>
</li>
{% endblock %}
                
{% block registration %}
<li class="nav-item">
    <a class="nav-link pr-3" href="{% url 'register' %}">Register</a>
</li>
{% endblock %}

{% block content %}
<h4 class="mt-5">Welcome <span class="text-success">{{user|title}}</span></h4>
<p>You have successfully registered your account with TradeUp. Please <a href="{% url 'login' %}" class="text-success">log in</a>.</p>
{% endblock %}