{% extends 'trade_app/base.html' %}

{% block title %}Trade{% endblock %}

{% block home %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
{% endblock %}

{% block portfolio %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
</li>
{% endblock %}

{% block trade %}
<li class="nav-item">
    <a class="nav-link active bg-secondary" href="{% url 'trade' action symbol %}">Trade</a>
</li>
{% endblock %}

{% block login %}
{% endblock %}

{% block registration %}
<li class="nav-item dropdown">
    <a class="nav-link pr-4" href="#" data-toggle="dropdown"><i class="fas fa-user"></i> Welcome, {{user|title}}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'pwd-change' %}">Change Password</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    </div>
</li>
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-sm-5 pr-5 border-right">
        <div class="row mb-4">
            {% if '^NQ' in symbol %}
            <div class="col-sm-2"><h4></h4></div>
            {% else %}
            <div class="col-sm-2"><h4>{{symbol}}</h4></div>
            {% endif %}
            <div class="col-sm-10">
                <table>
                    <tr class="small">
                        <th scope="row">Last</th>
                        <td class="border-right pr-1">$1.45</td>
                        <th scope="row" class="pl-2">Bid</th>
                        <td class="border-right pr-1">$2.43</td>
                        <th scope="row" class="pl-2">Change</th>
                        <td>$1.85</td>
                    </tr>
                    <tr class="small">
                        <th scope="row">Price</th>
                        <td class="border-right pr-1">$1.45</td>
                        <th scope="row" class="pl-2">Ask</th>
                        <td class="border-right pr-1">$2.43</td>
                        <th scope="row" class="pl-2">Percent</th>
                        <td>$1.85</td>
                    </tr>
                </table>
            </div>
        </div>
        <form action="#">
            <div class="row mb-3">
                <div class="col">
                    <label for="quantity">Action</label><br/>
                    <select class="form-control" id="sel1" name="sellist1">
                        {% if action == 'Buy' %}
                        <option selected>Buy</option>
                        {% elif action == 'Sell' %}
                        <option selected >Sell</option>
                        {% endif %}
                      </select>
                </div>
                <div class="col">
                    <label for="quantity">Type</label><br/>
                    <select class="form-control" id="sel1" name="sellist1">
                        <option>Limit</option>
                        <option>Market</option>
                        <option>Stop Market</option>
                        <option>Stop Limit</option>
                    </select>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <label for="quantity">Quantity</label><br/>
                    <input type="number" min="1" class="form-control" id="quantity" name="quantity" value="1" required>
                </div>
                <div class="col">
                    <label for="quantity">Price</label><br/>
                    <input type="number" step="0.01" min="1" class="form-control pricing" name="pswd" value="45.67" required>
                </div>
            </div>
            <p>Cash available for trading: $145.67</p>
            <p><strong>Estimated total: $345.78</strong></p>
            <button type="submit" class="btn btn-success mt-4">Place Order</button>
        </form>
    </div>
    <div class="col-sm-7 pl-5 pr-5">
        <div class="row">
            <div class="col-sm-10">
                {% if '^NQ' in symbol %}
                <h3><span class="text-success"></span> - Amazon, Inc.</h3>
                {% else %}
                <h3><span class="text-success">{{symbol}}</span> - Amazon, Inc.</h3>
                {% endif %}
            </div>
        </div>
        <p class="mt-5">Chart here<br>
        <br>
        <br>    
        <br>
        <br>
        <br>
        <br></p>
        <!-- historical data table -->
        <div class="scroll-v">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr class="small">
                        <th class="fixed-h">Date</th>
                        <th class="fixed-h">Open</th>
                        <th class="fixed-h">High</th>
                        <th class="fixed-h">Low</th>
                        <th class="fixed-h">Close</th>
                        <th class="fixed-h">Adj Close</th>
                        <th class="fixed-h">Volume</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- (for h in history) -->
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <tr class="small">
                        <td>September 20, 2020</td>
                        <td>$110</td>
                        <td>$1.52</td>
                        <td>1.17%</td>
                        <td>$108.75</td>
                        <td>$107.52</td>
                        <td>4,556,789</td>
                    </tr>
                    <!-- (endfor ) -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

