{% extends 'trade_app/base.html' %}

{% block title %}Trade{% endblock %}

{% block home %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
{% endblock %}

{% block portfolio %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
</li>
{% endblock %}

{% block trade %}
<li class="nav-item">
    <a class="nav-link active bg-secondary" href="{% url 'trade' %}">Trade</a>
</li>
{% endblock %}

{% block login %}
{% endblock %}

{% block registration %}
<li class="nav-item dropdown">
    <a class="nav-link pr-4" href="#" data-toggle="dropdown"><i class="fas fa-user"></i> Welcome, {{user|title}}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'pwd-change' %}">Change Password</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'reset' %}">Reset</a>
    </div>
</li>
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-5 pr-md-5 border-right trade-left-col order-2 order-md-1">
        <div class="row mb-4">
            {% if symbol == None %}
            {% else %}
            <div class="col-3 pt-5 pt-md-0"><h4>{{symbol}}</h4></div>
            <div class="col-9 pt-5 pt-md-0">
                <table>
                    <tr class="small">
                        <th scope="row" class="pr-2">Last</th>
                        <td class="border-right pr-1">${{last|floatformat:2}}</td>
                        <th scope="row" class="pl-2 pr-2">Change</th>
                        <td>${{change|floatformat:2}}</td>
                    </tr>
                    <tr class="small">
                        <th scope="row" class="pr-2">Price</th>
                        <td class="border-right pr-1">${{price|floatformat:2}}</td>
                        <th scope="row" class="pl-2 pr-2">Percent</th>
                        <td>{{percent|floatformat:2}}%</td>
                    </tr>
                </table>
            </div>
            {% endif %}
        </div>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-9 col-sm-7 col-md-6 pb-3 pb-md-0">
                    <label for="quantity">Action</label><br/>
                    <!-- if user in list, they can buy and sell -->
                    {% if symbol == None %}
                    <select class="form-control action" id="buy" name="buy" disabled>
                        <option selected>Buy</option>
                    </select>
                    {% else %}
                    {% if user.id in users %}
                    <select class="form-control action" id="buy_sell" name="buy_sell">
                        <option>Buy</option>
                        <option>Sell</option>
                    </select>
                    <!-- if user not in list, they can only buy -->
                    {% else %}
                    <select class="form-control action" id="buy" name="buy">
                        <option>Buy</option>
                    </select>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-9 col-sm-7 col-md-6">
                    <label for="quantity">Type</label><br/>
                    <select class="form-control" id="opts" name="opts">
                        <option>Limit</option>
                        <option>Market</option>
                        <option>Stop Market</option>
                        <option>Stop Limit</option>
                    </select>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-9 col-sm-7 col-md-6">
                    <label for="quantity">Quantity</label><br/>
                    <div class="input-group pb-3 pb-md-0">
                        {% if symbol == None %}
                        <input type="number" class="form-control" id="quantity" name="quantity" disabled>
                        {% else %}
                        <input type="number" class="form-control trade-quantity" id="quantity" value="0" name="quantity" min="0">
                        {% endif %}
                    </div>
                </div>
                <div class="col-9 col-sm-7 col-md-6">
                    <label for="quantity">Price</label><br/>
                    <input type="number" class="form-control pricing" name="pswd" value="{{price|floatformat:2}}" readonly>
                </div>
            </div>
            {% if user.id in users %}
            <p class="text-success bolder">Shares Available: <span id="shares">{{shares}}</span></p>
            {% endif %}
            <p>Cash available for trading: $<span id="usr-cash">{{cash}}</span></p>
            <p><strong>Estimated total: $<span id="estimate">0.00</span></strong></p>
            <button type="button" class="btn btn-success mt-4 order-btn">Place Order</button>
            <p class="text-danger total-excess mt-3 order-error"></p>
        </form><br>
        <hr>
        <!-- Order History Table -->
        {% if orders|length == 0 %}
        <h6 class="mt-3 font-weight-bolder">Transaction History:</h6>
        <p>You have no existing orders.</p>
        {% else %}
        <h6 class="mt-3 font-weight-bolder">Transaction History:</h6>
        <div class="scroll-trade mt-3">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr class="small">
                        <th class="fixed-h">Symbol</th>
                        <th class="fixed-h">Name</th>
                        <th class="fixed-h">Price</th>
                        <th class="fixed-h">Action</th>
                        <th class="fixed-h">Quantity</th>
                        <th class="fixed-h">Order Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="small">
                        <td>{{order.symbol}}</td>
                        <td>{{order.name}}</td>
                        <td>{{order.price}}</td>
                        <td>{{order.action}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.order_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>  
    <div class="col-12 col-md-6 col-lg-7 pl-md-5 order-1 order-md-2 trade-right-col pb-4">
        <div class="row">
            <div class="col-12 col-sm-9 col-md-12 col-lg-9">
                <form>
                    <div class="input-group mb-4 trade-search">
                        <input type="search" class="form-control trade-sch-input" name="trade" id="trade" placeholder="Enter name or symbol" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-success trade-sch-btn" type="submit" id="btn_search">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-10">
                <h3><span class="text-success" id="h-sym">{{symbol}}</span> - <span id="h-name">{{name}}</span></h3>
            </div>
        </div>
        <!-- historical data table -->
        <div class="scroll-trade mt-4">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr class="small">
                        <th class="fixed-h">Date</th>
                        <th class="fixed-h">Open</th>
                        <th class="fixed-h">High</th>
                        <th class="fixed-h">Low</th>
                        <th class="fixed-h">Close</th>
                        <th class="fixed-h">Adj Close</th>
                    </tr>
                </thead>
                <tbody>
                    {% for price in table %}
                    <tr class="small">
                        <td>{{price.date}}</td>
                        <td>{{price.open}}</td>
                        <td>{{price.high}}</td>
                        <td>{{price.low}}</td>
                        <td>{{price.close}}</td>
                        <td>{{price.adjclose}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

