*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}
.navbar{
    padding: .5rem 5.5rem !important;
}
.navbar-brand{
    color: rgb(12, 248, 36) !important;
}
.fa-dollar-sign{
    color: white;
}
.headlines{
    font-size: .90rem !important;
    padding-left: 0 !important;
}
.category{
    font-size: .80rem !important;
}
.headline_title:hover{
    text-decoration: none;
}
input:focus{
    box-shadow: none !important;
}
.container-fluid{
    padding: 0 5.5rem !important;
}