*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}
.navbar{
    padding: .5rem 5.5rem !important;
}
.navbar-brand{
    color: rgb(12, 248, 36) !important;
}
.fa-dollar-sign{
    color: white;
}
/* input:focus{
    box-shadow: none !important;
} */
.container-fluid{
    padding: 0 6rem !important;
}
.tables_container{
    padding-left: 4rem !important;
}
td.symbol{
    border-top: none !important;
    padding-top: .05rem !important;
}
.t-data{
    padding-top: .3rem !important;
    padding-bottom: .05rem !important;
}
tr.small{
    font-size: 70% !important;
}