*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.fa-user-circle{
    color: white;
}
input{
    box-shadow: none !important;
}
.container-fluid{
    padding: 0 5rem !important;
}
.modal-body > div:hover{
    background-color: rgb(221, 219, 219);
}
.tables_container{
    padding-right: 2rem !important;
}
td.symbol{
    border-top: none !important;
    padding-top: .05rem !important;
}
.t-data{
    padding-top: .3rem !important;
    padding-bottom: .05rem !important;
}
tr.small{
    font-size: 70% !important;
}
table.table-sm{
    width: 100%;
    table-layout: auto;
}
.fixed-t{
    position: sticky;
    left: 0;
}
.fixed-h{
    position: sticky;
    top: -1px;
}
.scroll-trade{
    overflow-y: scroll !important;
    max-height: 100vh;
}
nav ul a{
    padding: 1rem!important;
}
.dropdown-item{
    padding: 6px !important;
}
.bg_image{
    background: white url("images/stocksup.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.login-img-container{
    background: white url("images/home.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.register-container{
    background-color: rgba(0,0,0,0.8) !important;
    width: 35%;
}
.forgot{
    cursor: default;
}
a{
    text-decoration: none !important;
}
.img-container{
    position: relative;
    color: white;
}
.img-txt{
    position: absolute;
    top: 4rem;
    left: 3rem;
}

/* media queries */
@media (min-width: 846px) and (max-width: 1140px){
    .register-container{
        width: 50%;
    }
}
@media (min-width: 769px) and (max-width: 845px){
    .register-container{
        width: 60%;
    }
}
@media (min-width: 577px) and (max-width: 700px){
    .container-fluid{
        padding: 0 2rem !important;
    }
    /* for password-change form */
    .pwc-input{
        width: 50% !important;
    }
}
@media (max-width: 768px){
    .register-container{
        width: 75%;
    }
     /* for trade page */
    .trade-left-col{
        border-right: none !important;
    }
    .trade-right-col{
        border-bottom: 1px solid rgb(233, 230, 230) !important;
    }
}
@media (min-width: 768px) and (max-width: 850px){
    .trade-right-col h3{
        font-size: 1.2rem !important;
    }
}
@media (max-width: 576px){
    /* for portfolio page */
    .port-left-col{
        border-right: none !important;
        border-bottom: 1px solid rgb(233, 230, 230) !important;
    }
    /* for password-change form */
    .pwc-input{
        width: 75% !important;
    }
    .register-container{
        width: 90%;
    }
    .container-fluid{
        padding: 0 0.65rem !important;
    }
}
/* for portfolio page */
@media (max-width: 915px){
    .port-right-col h3{
        font-size: 1.2rem !important;
    }
    .port-right-col button{
        font-size: 0.80rem !important;
    }
}
