*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.fa-dollar-sign{
    color: white;
}
input{
    box-shadow: none !important;
}
.container-fluid{
    padding: 0 6rem !important;
}
.tables_container{
    padding-left: 4rem !important;
}
td.symbol{
    border-top: none !important;
    padding-top: .05rem !important;
}
.t-data{
    padding-top: .3rem !important;
    padding-bottom: .05rem !important;
}
tr.small{
    font-size: 70% !important;
}
table.table-sm{
    width: 100%;
    table-layout: auto;
}
.scroll-h{
    overflow-x: scroll !important;
    overflow-y: visible !important;
}
.fixed-t{
    position: sticky;
    left: 0;
}
.fixed-h{
    position: sticky;
    top: -1px;
}
.scroll-v{
    overflow-y: scroll !important;
    height: 150px;
}
nav ul a{
    padding: .8rem!important;
}
.taught{
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;

    /* top: 100px !important; */
}
.bg_image{
    background: white url("images/stocksup.jpg") no-repeat;
    background-size: cover;
}

.register-container{
    background-color: rgba(0,0,0,0.8) !important;
    width: 35%;
}