{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">
    </head>
    <body>
        <!-- navigation menu -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-5">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="{% url 'home' %}">E<i class="fas fa-dollar-sign"></i>Trade <i class="fas fa-coins"></i></a>
            <!-- Links -->
            <ul class="navbar-nav">
                {% block home %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home</a>
                </li>
                {% endblock %}
                {% block portfolio %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">My Portfolio</a>
                </li>
                {% endblock %}
                {% block trade %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'trade' %}">Trade</a>
                </li>
                {% endblock %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Log In</a>
                </li>
                <span class="navbar-text">|</span>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Register</a>
                </li>
            </ul>
        </nav>
        {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 home-news">
                    <div id="top_news" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for h in news %}
                            {% if h == news.0 %}
                            <div class="carousel-item active">
                                <a href="{{h.shortUrl}}">
                                    <img class="w-100 d-block" src="{{h.thumbnailImage}}" alt="Los Angeles" height="470">
                                    <div class="carousel-caption">
                                        <h5>{{h.title}}</h5>
                                        <p>{{h.published|timesince:updated}} ago</p>
                                    </div>
                                </a>   
                            </div>
                            {% else %}
                            <div class="carousel-item">
                                <a href="{{h.shortUrl}}">
                                    <img class="w-100 d-block" src="{{h.thumbnailImage}}" alt="Los Angeles" height="470">
                                    <div class="carousel-caption">
                                        <h5>{{h.title}}</h5>
                                        <p>{{h.published|timesince:updated}} ago</p>
                                    </div>
                                </a>   
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#top_news" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#top_news" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div><br/>
                    <!-- watchlist card images -->
                    <h6 class="mt-2 text-success">Explore Popular Watchlists</h6>
                    <div class="row mt-3">
                        {% for p in popular %}
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top" src="{% static 'trade_app/download.jpg' %}" alt="card image" style="width:100%">
                                <div class="card-body">
                                    <h5 class="card-title small font-weight-bold">{{p.name}}</h5>
                                    <div class="small">{{p.shortDescription}}</div><br/>
                                    <div class="card-text small">
                                        <div class="text-primary">{{p.followerCount}} followers</div>
                                        <div>{{p.symbolCount}} symbols 
                                            {% if p.dailyPercentGain > 0 %}<span class="text-success">{{p.dailyPercentGain|floatformat:2}}%</span>{% else %}<span class="text-danger">{{p.dailyPercentGain|floatformat:2}}%</span>{% endif %}
                                        </div>
                                    </div>
                                    <a href="https://finance.yahoo.com/u/yahoo-finance/watchlists/{{p.slug}}" target="_blank" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-4 tables_container">
                    <!-- table for trending stocks -->
                    <h6>Top 5 Trending</h6>          
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="font-weight-light small" rowspan="2">Symbol</th>
                                <th class="font-weight-light small">Last Price</th>
                                <th class="font-weight-light small">Change</th>
                                <th class="font-weight-light small">% Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in trends %}
                            <tr>
                                <td class="font-weight-bold small text-primary t-data">{{t.symbol}}</td>
                                <td class="small t-data">{{t.regularMarketPrice|floatformat:2}}</td>
                                {% if t.regularMarketChange > 0 %}
                                <td class="small t-data text-success">{{t.regularMarketChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{t.regularMarketChange|floatformat:2}}</td>
                                {% endif %}
                                {% if t.regularMarketChangePercent > 0 %}
                                <td class="small t-data text-success">{{t.regularMarketChangePercent|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{t.regularMarketChangePercent|floatformat:2}}</td>
                                {% endif %}
                            </tr>
                            <tr class="font-weight-light small text-secondary">
                                <td colspan="4" class="symbol">{{t.shortName}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- table for most active stocks -->
                    <h6>Stocks: Most Actives</h6>          
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="font-weight-light small" rowspan="2">Symbol</th>
                                <th class="font-weight-light small">Last Price</th>
                                <th class="font-weight-light small">Change</th>
                                <th class="font-weight-light small">% Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in actives %}
                            <tr>
                                <td class="font-weight-bold small text-primary t-data">{{a.Security.RegionAndTicker|cut:"USA:"}}</td>
                                <td class="small t-data">{{a.Quote.YesterdayPrice|floatformat:2}}</td>
                                {% if a.Quote.PriceChange > 0 %}
                                <td class="small t-data text-success">{{a.Quote.PriceChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{a.Quote.PriceChange|floatformat:2}}</td>
                                {% endif %}
                                {% if a.Quote.PercentChange > 0 %}
                                <td class="small t-data text-success">{{a.Quote.PercentChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{a.Quote.PercentChange|floatformat:2}}</td>
                                {% endif %}
                            </tr>
                            <tr class="font-weight-light small text-secondary">
                                <td colspan="4" class="symbol">{{a.Security.Name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- table for gainers stocks -->
                    <h6>Stocks: Gainers</h6>          
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="font-weight-light small" rowspan="2">Symbol</th>
                                <th class="font-weight-light small">Last Price</th>
                                <th class="font-weight-light small">Change</th>
                                <th class="font-weight-light small">% Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for g in gainers %}
                            <tr>
                                <td class="font-weight-bold small text-primary t-data">{{g.Security.RegionAndTicker|cut:"USA:"}}</td>
                                <td class="small t-data">{{g.Quote.YesterdayPrice|floatformat:2}}</td>
                                {% if g.Quote.PriceChange > 0 %}
                                <td class="small t-data text-success">{{g.Quote.PriceChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{g.Quote.PriceChange|floatformat:2}}</td>
                                {% endif %}
                                {% if g.Quote.PercentChange > 0 %}
                                <td class="small t-data text-success">{{g.Quote.PercentChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{g.Quote.PercentChange|floatformat:2}}</td>
                                {% endif %}
                            </tr>
                            <tr class="font-weight-light small text-secondary">
                                <td colspan="4" class="symbol">{{g.Security.Name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- table for losers stocks -->
                    <h6>Stocks: Losers</h6>          
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="font-weight-light small" rowspan="2">Symbol</th>
                                <th class="font-weight-light small">Last Price</th>
                                <th class="font-weight-light small">Change</th>
                                <th class="font-weight-light small">% Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in losers %}
                            <tr>
                                <td class="font-weight-bold small text-primary t-data">{{l.Security.RegionAndTicker|cut:"USA:"}}</td>
                                <td class="small t-data">{{l.Quote.YesterdayPrice|floatformat:2}}</td>
                                {% if l.Quote.PriceChange > 0 %}
                                <td class="small t-data text-success">{{l.Quote.PriceChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{l.Quote.PriceChange|floatformat:2}}</td>
                                {% endif %}
                                {% if l.Quote.PercentChange > 0 %}
                                <td class="small t-data text-success">{{l.Quote.PercentChange|floatformat:2}}</td>
                                {% else %}
                                <td class="small t-data text-danger">{{l.Quote.PercentChange|floatformat:2}}</td>
                                {% endif %}
                            </tr>
                            <tr class="font-weight-light small text-secondary">
                                <td colspan="4" class="symbol">{{l.Security.Name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endblock%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/67e14e1161.js" crossorigin="anonymous"></script>
    </body>
</html>